<div class="container container-fluid">
	<h1>Decoder</h1>

	<div>
		<div >
			
			<div class="btn-group bootstrap-select">

			<select  class="selectpicker" >
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
			</select>
			</div>

		</div>
		<div class="row">
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
			<div class="col-md-1">.col-md-1</div>
		</div>
	</div>

	<p>{{ tagline }}</p>
</div>