<!-- public/views/nerd.html -->
<div class="container text-center">
 <h1>Files</h1>

    <p>{{ tagline }}</p>
     

    <br/>
     
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data" action='/upload' >

            <input type="file" name="zipfile"   accept=".zip"/>
            <input type="email" name="email" required/>
            <input type="submit"/>
            </form>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Files to ignore</label>
                <select class="form-control" id="sel1" multiple>
                <option ng-repeat="filename in filenames track by filename" value="{{filename}}">
                     {{filename}}
                </option>
                </select>
            </div>
         
          
            
        </div>
    </div>

</div>
