<!-- public/views/robot.html -->
<div id="robotTab" class="container">           
    <ul class="nav nav-pills nav-justified">
        <li class="active"> <a data-toggle="pill" href="#doc">Project Documentation</a></li>
        <li>                <a data-toggle="pill" href="#applications">Applications</a></li>
        <li>                <a data-toggle="pill" href="#decoder"> Decoder</a></li>
        <li>                <a data-toggle="pill" href="#olp" >OLP</a> </li>
    </ul>
    <div class="tab-content">         
        <div id="doc" class="tab-pane fade in active">
            <h3>one</h3>
        </div>
         <div id="applications" class="tab-pane fade">
            <h3>two</h3>
        </div>
         <div id="decoder" class="tab-pane fade">
            <h3>three</h3>
        </div>
        <div id="olp" class="tab-pane fade">
            <h3>OLP</h3>
        </div>
    </div>
</div>
<!--<div class="jumbotron text-center">
    <h1>Robots and Proud</h1>

    <p>{{ tagline }}</p>
</div>-->